/*
 * SAMSUNG UNIVERSAL7420 board device tree source
 *
 * Copyright (c) 2014 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
#include "exynos7420-zero_common.dtsi"
#include "exynos7420-zeroflte_eur_battery_08.dtsi"
#include "exynos7420-zeroflte_gpio_06.dtsi"
#include "exynos7420-zerolte_modem-shannon_ds.dtsi"
#include "exynos7420-zerolte_fingerprint-sensor_00.dtsi"
#include "exynos7420-zeroflte_motor.dtsi"
#include "exynos7420-zeroflte_svcled.dtsi"
#include "exynos7420-zerolte_mst.dtsi"

/ {
	model = "Samsung ZERO-F LTE EUR rev06 board based on Exynos7420(EVT1), mPOP";
	model_info-chip = <7420>;
	model_info-platform = "android";
	model_info-subtype = "samsung";
	model_info-hw_rev = <10>;
	model_info-hw_rev_end = <10>;
	compatible = "samsung,ZERO-F LTE EUR EVT1 mPOP,r06", "samsung,exynos7420";

	spi_0: spi@14d20000 {
		/delete-property/ dma-mode;
		/delete-property/ dmas;
		/delete-property/ dma-names;

		num-cs = <1>;
		status = "okay";

		audio_codec: wm1840@0 {
			compatible = "wlf,wm1840";
			reg = <0x0>;
			spi-max-frequency = <20000000>;
			interrupts = <5 0 0>;
			interrupt-parent = <&gpa2>;

			gpio-controller;
			#gpio-cells = <2>;

			pinctrl-names ="default";
			pinctrl-0 = <&codec_reset &codec_irq>;

			wlf,reset = <&gpf4 0 0>;
			wlf,init-mic-delay = <30>;
			wlf,use-jd-gpio;
			wlf,micd-clamp-mode = <0x8>;
			wlf,micd-detect-debounce = <300>;
			wlf,micd-pol-gpio = <0>;
			wlf,micd-bias-start-time = <0x1>;
			wlf,micd-rate = <0x7>;
			wlf,micd-dbtime = <0x1>;
			wlf,micd-timeout = <1000>;
			wlf,micd-force-micbias;
			wlf,hpdet-moisture-imp = <2000>;
			wlf,hpdet-moisture-debounce = <40>;
			wlf,hpdet-channel = <1>;
			wlf,hpdet-ext-res = <33>;
			wlf,hpdet-short-circuit-imp = <3>;
			wlf,micd-ranges = <
				116 226
				173 582
				321 115
				752 114
				1257 217
			>;

			wlf,micd-configs = <
				0x0 2 0
			>;

			wlf,micbias1 = <1800 0 1 0 0>;
			wlf,micbias2 = <2800 0 1 0 0>;
			wlf,micbias3 = <1800 0 1 0 0>;
			wlf,micbias4 = <1800 0 1 0 0>;

			wlf,gpio-defaults = <
				0xffffffff 0xffffffff /* GPIO1 */
				0xffffffff 0xffffffff /* GPIO2 */
				0xffffffff 0xffffffff /* GPIO3 */
				0xffffffff 0xffffffff /* GPIO4 */
				0xffffffff 0xffffffff /* GPIO5 */
				0xffffffff 0xffffffff /* GPIO6 */
				0xffffffff 0xffffffff /* GPIO7 */
				0xffffffff 0xffffffff /* GPIO8 */
				0xffffffff 0xffffffff /* MIF1SCLK / GPIO9 */
				0xffffffff 0xffffffff /* MIF1SDA / GPIO10 */
				0xffffffff 0xffffffff /* MIF2SCLK / GPIO11 */
				0xffffffff 0xffffffff /* MIF2SDA / GPIO12 */
				0xffffffff 0xffffffff /* MIF3SCLK / GPIO13 */
				0xffffffff 0xffffffff /* MIF3SDA / GPIO14 */
				0x00002000 0x00006000 /* AIF1TXDAT / GPIO15 */
				0x00002000 0x00006000 /* AIF1BCLK / GPIO16 */
				0x00002000 0x00006000 /* AIF1RXDAT / GPIO17 */
				0x00002000 0x00006000 /* AIF1LRCLK / GPIO18 */
				0x00002000 0x00006000 /* AIF2TXDAT / GPIO19 */
				0x00002000 0x00006000 /* AIF2BCLK / GPIO20 */
				0x00002000 0x00006000 /* AIF2RXDAT / GPIO21 */
				0x00002000 0x00006000 /* AIF2LRCLK / GPIO22 */
				0x00002000 0x00006000 /* AIF3TXDAT / GPIO23 */
				0x00002000 0x00006000 /* AIF3BCLK / GPIO24 */
				0x00002000 0x00006000 /* AIF3RXDAT / GPIO25 */
				0x00002000 0x00006000 /* AIF3LRCLK / GPIO26 */
				0x00002000 0x00006000 /* AIF4TXDAT / GPIO27 */
				0x00002000 0x00006000 /* AIF4BCLK / GPIO28 */
				0x00002000 0x00006000 /* AIF4RXDAT / GPIO29 */
				0x00002000 0x00006000 /* AIF4LRCLK / GPIO30 */
				0x00002000 0x0000e000 /* DMICCLK4 / GPIO31 */
				0x00002000 0x0000e000 /* DMICDAT4 / GPIO32 */
				0xffffffff 0xffffffff /* DMICCLK5 / GPIO33 */
				0xffffffff 0xffffffff /* DMICDAT5 / GPIO34 */
				0xffffffff 0xffffffff /* DMICCLK6 / GPIO35 */
				0xffffffff 0xffffffff /* DMICDAT6 / GPIO36 */
				0xffffffff 0xffffffff /* SPKCLK1 / GPIO37 */
				0xffffffff 0xffffffff /* SPKCLK2 / GPIO38 */
				0xffffffff 0xffffffff /* SPKDAT1 / GPIO39 */
				0xffffffff 0xffffffff /* SPKDAT2 / GPIO40 */
			>;

			wlf,gpsw = <0x3>;
			wlf,micd-software-compare;
			wlf,micd-open-circuit-declare = <1>;
			wlf,jd-wake-time = <5000>;

			wlf,max-channels-clocked = <2 0 0 0>;
			/* 0:MICVDD 1:MICBIAS1 2:MICBIAS2 3:MICBIAS3 */
			wlf,dmic-ref = <1 2 1 0 0 0>;
			/* 1st cell:IN1L 2rd cell:IN1R 3nd cell:IN2L 4th cell:IN2R... 12th cell:IN6R */
			wlf,inmode = <2 2 0 0 2 2 2 2 0 0 0 0>;
			/* 1st cell:OUT1 2nd cell:OUT2 3rd cell:OUT3... 6th cell:OUT6 */
			wlf,out-mono = <0 1 1 0 0 0>;

			wlf,rev-specific-fw;

			DCVDD-supply = <&ldo26_reg>;
			AVDD-supply = <&ldo16_reg>;
			LDOVDD-supply = <&ldo16_reg>;
			DBVDD1-supply = <&ldo16_reg>;

			CPVDD-supply = <&ldo16_reg>;
			DBVDD2-supply = <&ldo16_reg>;
			DBVDD3-supply = <&ldo16_reg>;
			DBVDD4-supply = <&ldo16_reg>;
			SPKVDDL-supply = <&ldo16_reg>;
			SPKVDDR-supply = <&ldo16_reg>;

			adsps {
				#address-cells = <1>;
				#size-cells = <0>;

				adsp@0FFE00 {
					reg = <0x0FFE00>;
					firmware {
						TRACE {
							wlf,wmfw-file = "trace";
							wlf,bin-file = "None";
							wlf,compr-caps = <1 8 0x4 1 8000 16000 24000>;
						};
					};
				};
				adsp@17FE00 {
					reg = <0x17FE00>;
					firmware {
						TX_NB {
							wlf,wmfw-file = "tx-nb";
							wlf,bin-file = "None";
						};
						TX_WB {
							wlf,wmfw-file = "tx-wb";
							wlf,bin-file = "None";
						};
						TX_SWB_INTERVIEW {
							wlf,wmfw-file = "tx-swb";
							wlf,bin-file = "None";
						};
						TX_SWB_CONVERSATION {
							wlf,wmfw-file = "tx-swb";
							wlf,bin-file = "None";
						};
						TX_FB_MEETING {
							wlf,wmfw-file = "tx-fb-meeting";
							wlf,bin-file = "tx-fb-meeting";
						};
					};
				};
				adsp@1FFE00 {
					reg = <0x1FFE00>;
					firmware {
						TX_NB {
							wlf,wmfw-file = "tx-nb";
							wlf,bin-file = "tx-nb";
						};
						TX_WB {
							wlf,wmfw-file = "tx-wb";
							wlf,bin-file = "tx-wb";
						};
						TX_SWB_INTERVIEW {
							wlf,wmfw-file = "tx-swb";
							wlf,bin-file = "tx-swb-interview";
						};
						TX_SWB_CONVERSATION {
							wlf,wmfw-file = "tx-swb";
							wlf,bin-file = "tx-swb-conversation";
						};
						TX_WB_MEETING {
							wlf,wmfw-file = "tx-wb-meeting";
							wlf,bin-file = "tx-wb-meeting";
						};
					};
				};
				adsp@27FE00 {
					reg = <0x27FE00>;
					firmware {
						RX_NB {
							wlf,wmfw-file = "rx-anc-nb";
							wlf,bin-file = "rx-anc-nb";
						};
						RX_WB {
							wlf,wmfw-file = "rx-anc-wb";
							wlf,bin-file = "rx-anc-wb";
						};
					};
				};
				adsp@37FE00 {
					reg = <0x37FE00>;
					firmware {
						VOICECONTROL {
							wlf,wmfw-file = "ez2-control";
							wlf,bin-file = "ez2-control";
							wlf,compr-caps = <1 1 0x4 1 16000>;
						};
						LPSD {
							wlf,wmfw-file = "ez2-control";
							wlf,bin-file = "lpsd-control";
						};
					};
				};
				adsp@2FFE00 {
					reg = <0x2FFE00>;
					firmware {
						DSM {
							wlf,wmfw-file = "dsm";
							wlf,bin-file = "None";
						};
					};
				};
			};
			controller-data {
				cs-gpio = <&gpd8 1 0>;
				samsung,spi-feedback-delay = <0>;
			};
		};
	};

	spi_1: spi@14d30000 {
		#address-cells = <1>;
		#size-cells = <0>;

		pinctrl-names = "default";
		pinctrl-0 = <&spi1_mosi_sck_ssn &spi1_miso>;

		num-cs = <1>;
		status = "okay";

		BCM4773@0 {
			compatible = "ssp,BCM4773";
			reg = <0>;
			spi-max-frequency = <26000000>;
			spi-cpol;
			spi-cpha;
			pinctrl-names = "default";
			pinctrl-0 = <&ssp_host_req &ssp_mcu_req &ssp_mcu_resp>;

			gpio-controller;
			#gpio-cells = <2>;
			ssp-host-req = <&gpa3 6 0x01>;
			ssp-mcu-req = <&gpf4 5 0x01>;
			ssp-mcu-resp = <&gpf4 4 0x00>;
			ssp-acc-position = <0>;
			ssp-mag-position = <0>;
			ssp-sns-combination = <0>;
			ssp,prox-hi_thresh = <2000>;
			ssp,prox-low_thresh = <1400>;
			ssp-ap-rev = <1>;
			ssp-mag-array = <10213 (-360) 154 (-206) 8673 (-59) (-66) (-59) 10479>; /* Only for YAS532 */
			ssp-hw-rev = <3>;
			ssp-glass-type = <0>;

			controller-data {
				cs-gpio = <&gpd6 3 0>;
				samsung,spi-feedback-delay = <0>;
				};
			};
	};

	gps {
		compatible = "samsung,exynos54xx-bcm4753";

		pinctrl-names = "default";
		pinctrl-0 = <&ssp_gps_pwr_en &ssp_host_wake>;

		gpios = <&gpf4 7 0x1
			      &gpa3 2 0xf
				>;
		status = "okay";
	};

	spi_3: spi@14d50000 {
		spiclk-pindev-name = "14c90000.pinctrl";
		spiclk-pin-name = "gpg4-0";
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default","ese-pwoff","clk-fix","clk-recover","ese-disable";
		pinctrl-0 = <&spi3_bus>;
		pinctrl-1 = <&spi3_ese_pwoff>;
		pinctrl-2 = <&spi3_clk_fix>;
		pinctrl-3 = <&spi3_clk_recover>;
		pinctrl-4 = <&spi3_ese_disable>;
		samsung,ese-oberthur;

		ese_spi@0 {
			compatible = "ese_p3";
			reg = <0>;
			spi-max-frequency = <10000000>;

			gpio-controller;
			#gpio-cells = <2>;

			p3-mosipin = <21>;
			p3-misopin = <22>;
			p3-cspin = <23>;
			p3-clkpin = <24>;
			p3-cs-gpio = <&gpg4 1 0>;
			p3-vdd-1p8= "VDD_1.8V_ESE";

			controller-data {
				samsung,spi-chip-select-mode = <1>;
			};
		};
	};

	audio_pdata {
		compatible = "samsung,audio-pdata";

		seamless_voicewakeup;
		status = "okay";
	};

	antenna_switch {
		status = "okay";
		compatible = "antenna_switch";
		pinctrl-names = "default";
		pinctrl-0 = <&antenna_switch_en>;
		antenna_switch,gpio_antenna_switch = <&gpr3 6 0>;
	};

	pinctrl@10580000 {
		codec_irq: codec-irq {
			samsung,pins = "gpa2-5";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <0>;
		};
		max98505_ctrl: max98505-ctl {
			samsung,pins ="gpa2-0";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-con-pdn =<2>;
			samsung,pin-pud-pdn = <0>;
		};
	};

	pinctrl@13470000 {
		max98505_i2c: max98505-i2c {
			samsung,pins = "gpd2-0", "gpd2-1";
			samsung,pin-pud = <0>;
			status = "okay";
		};
	};

	pinctrl@14870000 {
		codec_reset: codec-reset {
			samsung,pins ="gpf4-0";
			samsung,pin-function = <1>;
			samsung,pin-pud = <1>;
			samsung,pin-con-pdn =<3>;
			samsung,pin-pud-pdn = <1>;
			samsung,pin-val = <0>;
		};
	};

	pinctrl@15690000 {
		sub_pmic_irq: sub-pmic-irq {
			samsung,pins ="gpr2-2";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};		
		antenna_switch_en: antenna-switch-en {
                        samsung,pins = "gpr3-6";
                        samsung,pin-function = <1>;
                        samsung,pin-pud = <0>;
                        samsung,pin-val = <0>;
                };		
	};

	hsi2c@13640000 {
		status = "okay";
		max98505@31 {
			compatible = "maxim,max98505";
			reg = <0x31>;
			pinctrl-names = "default";
			pinctrl-0 = <&max98505_i2c &max98505_ctrl>;
			gpios = <&gpd2 1 0
				&gpd2 0 0
				>;
			i2c-gpio,delay-us = <2>;
			maxim,platform_type = <0>;
			maxim,spk_vol = <0x14>;
			maxim,sysclk = <12288000>;
		};
	};

	hsi2c@13650000{
		max77843@66 {
			status = "okay";
		};
	};

	hsi2c@13660000 {
		s2mps15_pmic@66 {
			regulators {
				buck1_reg: BUCK1 {
					regulator-name = "vdd_mif";
					regulator-min-microvolt = <500000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck2_reg: BUCK2 {
					regulator-name = "vdd_atlas";
					regulator-min-microvolt = <500000>;
					regulator-max-microvolt = <1300000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck3_reg: BUCK3 {
					regulator-name = "vdd_apollo";
					regulator-min-microvolt = <500000>;
					regulator-max-microvolt = <1200000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck4_reg: BUCK4 {
					regulator-name = "vdd_int";
					regulator-min-microvolt = <500000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck5_reg: BUCK5 {
					regulator-name = "vdd_disp_cam0";
					regulator-min-microvolt = <500000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck6_reg: BUCK6 {
					regulator-name = "vdd_g3d";
					regulator-min-microvolt = <500000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck8_reg: BUCK8 {
					regulator-name = "vdd_lldo";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <1500000>;
					regulator-always-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <3>;
				};

				buck9_reg: BUCK9 {
					regulator-name = "vdd_mldo";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <2100000>;
					regulator-always-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <3>;
				};

				ldo2_reg: LDO2 {
					regulator-name = "vqmmc";
					regulator-min-microvolt = <1620000>;
					regulator-max-microvolt = <3300000>;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
					regulator-boot-on;
				};

				ldo8_reg: LDO8 {
					regulator-name = "vdd_ldo8";
					regulator-min-microvolt = <700000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
				};

				ldo15_reg: LDO15 {
					regulator-name = "tsp_io";
					regulator-min-microvolt = <1850000>;
					regulator-max-microvolt = <1850000>;
				};

				ldo16_reg: LDO16 {
					regulator-name = "VCC_1.8V_CODEC_PMIC";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};

				ldo17_reg: LDO17 {
					regulator-name = "VCC_MOTOR_3.0";
					regulator-min-microvolt = <3000000>;
					regulator-max-microvolt = <3000000>;
				};

				ldo18_reg: LDO18 {
					regulator-name = "HRM_VDD_1.8V";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1850000>;
				};

				ldo19_reg: LDO19 {
					regulator-name = "MST_LEVEL_3.0V";
					regulator-min-microvolt = <3000000>;
					regulator-max-microvolt = <3000000>;
				};

				ldo20_reg: LDO20 {
					regulator-name = "VDD20_1P8_AP";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};

				ldo21_reg: LDO21 {
					regulator-name = "vtouch_3.3v";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-boot-on;
				};

				ldo22_reg: LDO22 {
					regulator-name = "VDD22_1P2_AP";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
				};

				ldo23_reg: LDO23 {
					regulator-name = "VDD_1.8V_ESE";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};

				ldo24_reg: LDO24 {
					regulator-name = "V_HRM_3.3V";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3350000>;
				};

				ldo25_reg: LDO25 {
					regulator-name = "PROX_LED_3.3V";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
				};

				ldo26_reg: LDO26 {
					regulator-name = "VDD_1.2V_CODEC";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
				};
			};
		};
	};

	hsi2c@13670000 {
		max77838@60 {
			status = "disabled";
		};
	};

	hsi2c@14E00000 {
		sec-nfc@27 {
			sec-nfc,i2c_1p8 = "VDD20_1P8_AP";
		};
	};

	hsi2c@14E60000 {
		status = "okay";
		/delete-node/	s2mpb01_pmic@59;

		s2mpb02@59 {
			compatible = "samsung,s2mpb02";
			reg = <0x59>;

			s2mpb02,irq-gpio = <&gpr2 2 0>;
			pinctrl-names = "default";
			pinctrl-0 = <&sub_pmic_irq>;

			regulators {
				_buck1_reg: s2mpb02-buck1 {
					regulator-name = "VDD_1P6_DDR";
					regulator-min-microvolt = <1600000>;
					regulator-max-microvolt = <1600000>;
				};

				_buck2_reg: s2mpb02-buck2 {
					regulator-name = "VDDD_CORE_0.8V_COMP";
					regulator-min-microvolt = <650000>;
					regulator-max-microvolt = <850000>;
				};

				_ldo1_reg: s2mpb02-ldo1 {
					regulator-name = "VDDD_NORET_0.9V_COMP";
					regulator-min-microvolt = <900000>;
					regulator-max-microvolt = <900000>;
				};

				_ldo2_reg: s2mpb02-ldo2 {
					regulator-name = "VDDD_CORE_1.0V_COMP";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <1000000>;
				};

				_ldo3_reg: s2mpb02-ldo3 {
					regulator-name = "VDDD_1.2V_CAM";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <1200000>;
				};

				_ldo4_reg: s2mpb02-ldo4 {
					regulator-name = "VDDD_RET_1.0V_COMP";
					regulator-min-microvolt = <700000>;
					regulator-max-microvolt = <1000000>;
				};

				_ldo5_reg: s2mpb02-ldo5 {
					regulator-name = "VDDD_1.2V_VT";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
				};

				_ldo6_reg: s2mpb02-ldo6 {
					regulator-name = "VDDIO_1.8V_VT";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};

				_ldo7_reg: s2mpb02-ldo7 {
					regulator-name = "VDDIO_1.8V_CAM";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};

				_ldo8_reg: s2mpb02-ldo8 {
					regulator-name = "VDDIO_1.8V_COMP";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};

				_ldo9_reg: s2mpb02-ldo9 {
					regulator-name = "VDDA_1.8V_COMP";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};

				_ldo10_reg: s2mpb02-ldo10 {
					regulator-name = "VCC_DISPLAY_1.8V";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};

				_ldo11_reg: s2mpb02-ldo11 {
					regulator-name = "VDDA_2.9V_CAM";
					regulator-min-microvolt = <2800000>;
					regulator-max-microvolt = <2950000>;
				};

				_ldo12_reg: s2mpb02-ldo12 {
					regulator-name = "VDDAF_2.8V_CAM";
					regulator-min-microvolt = <2800000>;
					regulator-max-microvolt = <2800000>;
				};

				_ldo13_reg: s2mpb02-ldo13 {
					regulator-name = "VDDA_2.9V_VT";
					regulator-min-microvolt = <2900000>;
					regulator-max-microvolt = <2900000>;
				};

				_ldo14_reg: s2mpb02-ldo14 {
					regulator-name = "OIS_VM_2.8V";
					regulator-min-microvolt = <2800000>;
					regulator-max-microvolt = <2800000>;
				};

				_ldo15_reg: s2mpb02-ldo15 {
					regulator-name = "OIS_VDD_2.8V";
					regulator-min-microvolt = <2800000>;
					regulator-max-microvolt = <2800000>;
				};

				_ldo16_reg: s2mpb02-ldo16 {
					regulator-name = "VCC_3.0V_LCD";
					regulator-min-microvolt = <3000000>;
					regulator-max-microvolt = <3000000>;
				};

				_ldo17_reg: s2mpb02-ldo17 {
					regulator-name = "tsp_avdd";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
				};

			};

			torch {
				status = "okay";
				leds1 {
					ledname = "leds-sec1";
					/* S2MPB02_FLASH_LED_1 */
					id = <0>;
					/* S2MPB02_FLASH_CURRENT */
					brightness = <0xF>;
					/* S2MPB02_FLASH_TIMEOUT */
					timeout = <0x3>;
				};

				leds2 {
					ledname = "torch-sec1";
					/* S2MPB02_TORCH_LED_1 */
					id = <1>;
					/* S2MPB02_TORCH_CURRENT */
					brightness = <0x9>;
					/* S2MPB02_TORCH_TIMEOUT */
					timeout = <0xF>;
				};
			};
		};
	};

	pinctrl@13470000 {
		/* touchkey i2c*/
		cfg_i2c: cfg-i2c {
			samsung,pins = "gpd1-3", "gpd1-2";
			samsung,pin-function = <3>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
		cfg_gpio: cfg_gpio {
			samsung,pins = "gpd1-3", "gpd1-2";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
	};

	pinctrl@10580000 {
		/* touchkey interrupt*/
		cfg_irq: cfg-irq {
			samsung,pins = "gpa0-0";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
		};
		cfg_input: cfg-input {
			samsung,pins = "gpa0-0";
			samsung,pin-function = <0>;
			samsung,pin-pud = <1>;
			samsung,pin-drv = <0>;
		};
		sub_det: sub-det {
			samsung,pins = "gpa3-0";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
	};

	hsi2c@14E70000 {
		status = "okay";
		pinctrl-names = "default","on_i2c","off_i2c";
		pinctrl-0 = <&hs_i2c3_bus>;
		pinctrl-1 = <&cfg_i2c>;
		pinctrl-2 = <&cfg_gpio>;
		touchkey@20 {
			pinctrl-names = "on_irq","off_irq","sub_det";
			pinctrl-0 = <&cfg_irq>;
			pinctrl-1 = <&cfg_input>;
			pinctrl-2 = <&sub_det>;
			compatible = "cypress,cypress_touchkey";
			reg = <0x20>;
			interrupts = <0 0 0>;
			interrupt-parent = <&gpa0>;
			cypress,sda-gpio = <&gpd1 2 0>;
			cypress,scl-gpio = <&gpd1 3 0>;
			cypress,irq-gpio = <&gpa0 0 1>;
			cypress,sub-det = <&gpa3 0 0>;
			cypress,ap-io-power = "true";
			cypress,ic-stabilizing-time = <150>;
			cypress,boot-on-ldo = "true";
			cypress,fw_path = "cypress/cypress_zerof.fw";
		};
	};

	hsi2c@14E10000 {
		touchscreen@20 {
			stm,firmware_name = "tsp_stm/stm_z1.fw";
			stm,project_name = "ZEROF", "G920";
		};
	};

	dwmmc0@15740000 {
		status = "disabled";
	};

	dwmmc2@15560000 {
		vdd_vmmc-supply = <&ldo25_reg>;
		vqmmc-supply = <&ldo2_reg>;
	};

	decon_0: decon_fb {
		gpio_pcd = <&gpa1 2 0>;
	};

	dsim_0: dsim@0x13900000 {
		gpios = <&gpr3 0 0x1>;
		regulator_30V = "VCC_3.0V_LCD";
		regulator_18V = "VCC_DISPLAY_1.8V";
		regulator_16V = "VDD_1P6_DDR";
		lcd_info = <&s6e3ha2_wqhd>;
	};

	s6e3ha2_wqhd: s6e3ha2_wqhd_panel {
		mode = <2>;
		resolution = <1440 2560>;
		size = <63 112>;
		timing,refresh = <60>;
		timing,h-porch = <1 1 1>;
		timing,v-porch = <15 1 1>;
		timing,dsi-hs-clk = <1026>;
		timing,dsi-escape-clk = <16>;
		mic = <1>;
		mic_ver = <2>;
		type_of_ddi = <0>;
	};

	simslot_count {
		status = "okay";
	};
};
