config EXYNOS_DECON_DISP_LCD
	depends on EXYNOS_DECON_EXYNOS7580
	bool "Select LCD panel driver"

config EXYNOS_DECON_LCD_S6E3HA0
	depends on EXYNOS_DECON_DISP_LCD && EXYNOS_MIPI_DSI
	tristate "S6E3HA0 AMOLED WQHD LCD driver(1440 x 2560)"

config EXYNOS_DECON_LCD_S6E3HA2K
	depends on EXYNOS_DECON_DISP_LCD && EXYNOS_MIPI_DSI
	tristate "S6E3HA2K AMOLED WQHD LCD driver(1440 x 2560)"

config EXYNOS_DECON_LCD_S6E3HF2
	depends on EXYNOS_DECON_DISP_LCD && EXYNOS_MIPI_DSI
	tristate "S6E3HF2 AMOLED WQXGA LCD driver(1600 x 2560)"

config EXYNOS_DECON_LCD_S6E3FA0
	depends on EXYNOS_DECON_DISP_LCD && EXYNOS_MIPI_DSI
	tristate "S6E3FA0 AMOLED FHD LCD driver(1080 x 1920)"

config EXYNOS_DECON_LCD_S6E3FA2
	depends on EXYNOS_DECON_DISP_LCD && EXYNOS_MIPI_DSI
	tristate "S6E3FA2 AMOLED FHD LCD driver(1080 x 1920)"
